WebApiNET/Connected Services/ServiceReference/HostService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLL.EntitesDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL.EntitesDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAppointmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentDTO" nillable="true" type="tns:AppointmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentDTO" nillable="true" type="tns:ArrayOfAppointmentDTO" />
  <xs:complexType name="AppointmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentId" type="xs:int" />
      <xs:element minOccurs="0" name="BeginningDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizerId" type="xs:int" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentDTO" nillable="true" type="tns:AppointmentDTO" />
</xs:schema>