WebApiNET/Connected Services/ServiceReference/OutlookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OutlookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IOutlookService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://square.somee.com/Svc/HostService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://square.somee.com/Svc/HostService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://square.somee.com/Svc/HostService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLL.EntitesDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOutlookService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_Callback_InputMessage">
    <wsdl:part name="parameters" element="tns:Callback" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_GetAppointments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointments" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_GetAppointments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_GetAppointmentsWithSql_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsWithSql" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_GetAppointmentsWithSql_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsWithSqlResponse" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_GetAppointmentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentById" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_GetAppointmentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_UpdateAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointment" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_UpdateAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_RemoveAppointmentById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAppointmentById" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_RemoveAppointmentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAppointmentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_AddAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAppointment" />
  </wsdl:message>
  <wsdl:message name="IOutlookService_AddAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAppointmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IOutlookService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutlookService/Connect" message="tns:IOutlookService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutlookService/ConnectResponse" message="tns:IOutlookService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutlookService/Disconnect" message="tns:IOutlookService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Callback">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutlookService/Callback" message="tns:IOutlookService_Callback_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointments">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutlookService/GetAppointments" message="tns:IOutlookService_GetAppointments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutlookService/GetAppointmentsResponse" message="tns:IOutlookService_GetAppointments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsWithSql">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutlookService/GetAppointmentsWithSql" message="tns:IOutlookService_GetAppointmentsWithSql_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutlookService/GetAppointmentsWithSqlResponse" message="tns:IOutlookService_GetAppointmentsWithSql_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutlookService/GetAppointmentById" message="tns:IOutlookService_GetAppointmentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutlookService/GetAppointmentByIdResponse" message="tns:IOutlookService_GetAppointmentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutlookService/UpdateAppointment" message="tns:IOutlookService_UpdateAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutlookService/UpdateAppointmentResponse" message="tns:IOutlookService_UpdateAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAppointmentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutlookService/RemoveAppointmentById" message="tns:IOutlookService_RemoveAppointmentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutlookService/RemoveAppointmentByIdResponse" message="tns:IOutlookService_RemoveAppointmentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutlookService/AddAppointment" message="tns:IOutlookService_AddAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutlookService/AddAppointmentResponse" message="tns:IOutlookService_AddAppointment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IOutlookService" type="tns:IOutlookService">
    <wsp:PolicyReference URI="#WSHttpBinding_IOutlookService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IOutlookService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IOutlookService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Callback">
      <soap12:operation soapAction="http://tempuri.org/IOutlookService/Callback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAppointments">
      <soap12:operation soapAction="http://tempuri.org/IOutlookService/GetAppointments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsWithSql">
      <soap12:operation soapAction="http://tempuri.org/IOutlookService/GetAppointmentsWithSql" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentById">
      <soap12:operation soapAction="http://tempuri.org/IOutlookService/GetAppointmentById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <soap12:operation soapAction="http://tempuri.org/IOutlookService/UpdateAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAppointmentById">
      <soap12:operation soapAction="http://tempuri.org/IOutlookService/RemoveAppointmentById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAppointment">
      <soap12:operation soapAction="http://tempuri.org/IOutlookService/AddAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutlookService">
    <wsdl:port name="WSHttpBinding_IOutlookService" binding="tns:WSHttpBinding_IOutlookService">
      <soap12:address location="http://square.somee.com/Svc/HostService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://square.somee.com/Svc/HostService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>